.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #0f0f1a, #000);
  color: white;
}

.login-title {
  font-size: 36px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-input {
  padding: 12px;
  width: 250px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 10px 0;
}

.login-btn-main {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background: linear-gradient(90deg, #ff00cc, #3333ff);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}